<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">
    <context-param>
        <param-name>serviceName</param-name>
        <!--  change the value below to customer to test the transaction filter registration      -->
        <param-value>back_office</param-value>
    </context-param>
    <servlet>
        <!--        Since Servlet 3.0, every thing here can alternatively, be
                    replaced by the usage of the @WebServlet annotation
        -->
        <servlet-name>balance</servlet-name>
        <servlet-class>servlet_basics.BalanceGenericServlet</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Ahmed</param-value>
        </init-param>
        <init-param>
            <param-name>Occupation</param-name>
            <param-value>Programmer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>
</web-app>